URxvt.font: xft:Hack:size=10
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.cursorColor: white
URxvt.cursorBlink: true
URxvt.saveline: 2048
URxvt.internalBorder: 24
URxvt.depth: 32
URxvt.background: [85]#30333d
URxvt.iso14755: false

URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/firefox
URxvt.underlineURLs: true

URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k
URxvt.resize-font.reset: C-r

!! Colorscheme (Nord)

! special
*.foreground: #ffffff
*.background: #30333d
*.cursorColor: #fca2aa

! black
*.color0: #292b34
*.color8: #585e74

! red
*.color1: #f9929b
*.color9: #fca2aa

! green
*.color2: #7ed491
*.color10: #a5d4af

! yellow
*.color3: #fbdf90
*.color11: #fbeab9

! blue
*.color4: #a3b8ef
*.color12: #bac8ef

! magenta
*.color5: #ccaced
*.color13: #d7c1ed

! cyan
*.color6: #9ce5c0
*.color14: #c7e5d6

! white
*.color7: #ffffff
*.color15: #eaeaea

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
